<footer class="bg-white border-t py-4 text-sm text-gray-500">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-4">
    <div class="flex space-x-4">
      <a href="#" class="hover:text-blue-600 transition"><i class="fab fa-github"></i></a>
      <a href="#" class="hover:text-blue-600 transition"><i class="fab fa-instagram"></i></a>
      <a href="#" class="hover:text-blue-600 transition"><i class="fab fa-facebook"></i></a>
      <a href="#" class="hover:text-blue-600 transition"><i class="fab fa-twitter"></i></a>
      <a href="#" class="hover:text-blue-600 transition"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="text-center md:text-right">
      Book with <i class="fas fa-heart text-red-500"></i> <%= link_to("DeskBnB", desks_path, class: "hover:underline") %>
    </div>
  </div>
</footer>
