<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/landing-img-1000-1500px.jpg);">
  <div class="container">
    <h1><strong>DeskBnB</strong></h1>
    <p>Work – Study anywhere</p>
    <%= link_to "Find desks", desks_path, class: "btn btn-flat" %>
  </div>
</div>
