<div class="banner">
  <div class="container">
    <h1><strong>DeskBnB</strong></h1>
    <p>Work – Study Anywhere</p>
    <%= link_to "Explore Desks", desks_path, class: "btn btn-flat mb-4" %>
  </div>
</div>
